/* style.css */

.poison-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.poison-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.poison-img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.poison-details {
  text-align: center;
}

.add-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align:center
}

.add-button:hover {
  background-color: #45a049;
}

span {
  font-size: 20px;
  margin-bottom: 10px;
}
.toolbar {
    background-color: black;
    text-align: center;
    padding: 20px 20;
}

.toolbar a {
    display: inline-block;
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
h2 {
    margin-top:95px;
    text-align: center;
}

form {
    margin-top:100px;
    text-align: center;
}


button[type="submit"] {
    text-align: center;
    margin-left:-1rem;
    margin-top:50px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:100px
}
